<body>
    <header>
      <section id="carousel">
        <div id="userNav">
          <button id="switch" onclick="toggleTheme()">Switch</button>
          <i id="loggedUserIcon" class="bi bi-person-circle"></i>
          <a href="#"><%= admin.name  %>  | </a>
          <a href="/logout">Log Out</a>
        </div>
        <div>
          <img class="headerImg" src="/imgs/1.jpg" alt="">
          <img class="headerImg" src="/imgs/2.jpg" alt="">
          <img class="headerImg" src="/imgs/3.jpg" alt="">
          <img class="headerImg" src="/imgs/4.jpg" alt="">
          <img class="headerImg" src="/imgs/5.jpg" alt="">
          <img class="headerImg" src="/imgs/6.jpg" alt="">
          <img class="headerImg" src="/imgs/7.jpg" alt="">
          <img class="headerImg" src="/imgs/8.jpg" alt="">
          <img class="headerImg" src="/imgs/9.jpg" alt="">
          <img class="headerImg" src="/imgs/10.jpg" alt="">
        </div>
        <!-- https://i.imgur.com/YxYcpv2.png -->
      </section>
      <nav id="appNav" class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Credit Card Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/cards">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a id="addCardNavLink" class="nav-link" href="/cards/new">Add a Card</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/new">Add a User</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>