<%- include('./partials/header') %>

<main>
    <h1>Credit Card Tracker App</h1>
    <% if(user) { %>
    <a href="/logout">Log Out</a>
    <% } else { %>
    <a href="/auth/google">Login With Google</a>
    <% } %>
</main>

<%- include('./partials/footer') %>