<%- include('./partials/header') %>

<main id="loginMain">
    <section id="loginForm">
        <h1>Credit Card Tracker</h1>
        <div id="socialLogin">
            <div id="googleLogin"> <% if(user) { %>
                <button><a href="/cards"><i id="googleIcon" class="bi bi-google"></i>Google Session Active. Go to
                        App</a></button>
                <% } else { %>
                <button><a href="/auth/google"><i id="googleIcon" class="bi bi-google"></i>Google Login</a></button>
                <% } %>
            </div>
            <div id="facebookLogin">
                <button><a href="#"><i id="fbIcon" class="bi bi-facebook"></i>Facebook Login</a></button>
            </div>
            <div id="linkedIn">
                <button><a href="#"><i id="linkedInIcon" class="bi bi-linkedin"></i>LinkedIn Login</a></button>
            </div>
        </div>
        <h2 id="loginOr">OR</h2>
        <form action="" id="userAndPwdForm">
            <div class="login-form-group"> 
                <i class="bi bi-person-circle loginLabels"></i>
                <input class="userAndPwdInput" type="text" placeholder="Username">
            </div>
            <div class="login-form-group">
                 <i class="bi bi-shield-lock-fill loginLabels"></i>
                <input id="pwdField" class="userAndPwdInput" type="password" placeholder="Password">
                <i id="togglePwd" class="bi bi-eye""></i>
            </div>
        </form>
        <button id="loginSubmit" class="btn btn-success">Log In</button>
    </section>
</main>

<%- include('./partials/footer') %>