@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

/* Global */
body {
    border: 15px solid white;
    box-sizing: border-box;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    flex-direction: column;
    flex-grow: 1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: rgb(148, 23, 23);
    background-color: rgb(252, 247, 247);
}

footer>p {
    margin: 0;
}

#carousel {
    min-height: 20vh;
    /* border: 10px solid white; */
    border-bottom: none;
    background-color: gray;
}

#headerImg {
    width: 100%;
    height: 80%;
    object-fit: stretch;
}

.navbar {
    background-color: rgb(204, 200, 240);
}

label {
    font-weight: bold;
    text-decoration: blue underline;
    /* border-bottom: 2px solid blue; */
}

.form-check-label {
    font-weight: normal;
}


/* Edit Card Page */

#cardDetails {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
}

#add-note-form {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

#accountStatusChange,
#cardHolderChange {
    display: none;
}

input[type="text"][readonly] {
    border: 2px solid rgba(0, 0, 0, 0);
}

.table-responsive {
    border-top: 5px solid gray;
}

.table-responsive * {
    margin: 3px;
}

.nav-item.nav-link.active {
    background-color: gray;
    color: white;
    border-right: none;
}

.nav-item.nav-link {
    border: 1px solid rgb(197, 193, 193);
    border-bottom: none;
}

.nav-tabs {
    margin-top: 5px;
}

.nav-tabs a:hover {
    background-color: rgb(194, 192, 192);
    color: white;
    border: none;
}



/* Add Users Page */
#usersPage, #editCardsPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
}

#addUserForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    padding-bottom: 20px;
}

#addUserForm * {
    min-width: 500px;
}

#currentUsers, #notes{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.sectionHeader {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}

.sectionHeader.first {
    margin-bottom: 20px;
}


/*  Add Cards Page */
#addCardForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

#editCardSection {
    min-width: 600px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#notes {

}

h4 {
    text-align: center;
    text-decoration: blue underline;
}